.PixelForm {
  width: 300px;
  padding: 24px 32px;

  background-color: #38383d;
  border-radius: 24px;
}

.PixelForm-Title {
  margin: 0;
  margin-bottom: 24px;

  color: #d2d2d6;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 3px;
}

.PixelForm-Field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 38px;
}

.PixelForm-Name {
  margin: 0;

  color: #d2d2d6;

  font-size: 16px;
  letter-spacing: 1.2px;
}

.PixelForm-Input_color {
  width: 50px;
  height: 30px;

  color: transparent;

  background-color: inherit;
}

.PixelForm-Input_visibility {
  width: 80px;
}

.PixelForm-Button {
  width: 240px;
  height: 40px;

  color: #d2d2d6;
  font-size: 16px;
  font-family: inherit;
  letter-spacing: 1.5px;

  background-color: transparent;
  border: 1px solid #d2d2d6;
  border-radius: 6px;
  outline: none;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.PixelForm-Button:hover {
  color: #38383d;

  background-color: #d2d2d6;
  cursor: pointer;
}

.PixelForm-PreviewImage {
  position: relative;

  width: 240px;
  height: 80px;
  margin-bottom: 38px;
  overflow: hidden;

  background-color: #fff;
}

.PixelForm-Canvas {
  position: absolute;
}

.PixelForm-Canvas_preview {
  top: 0;
  left: 0;
}

.PixelForm-Canvas_pixel {
  top: -1000px;
  left: -1000px;
}
