.Picture {
  width: 400px;
  height: 400px;
  overflow: hidden;

  border-radius: 16px;
}

.Picture-Media {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Picture-Media_hidden {
  opacity: 0;
}
